<h2>User info</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
  <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


  <p><%= image_tag @user.get_profile_image(100,100) %></p>
  <h4>name</h4>
  <p><%= @user.name %></p>
  <h4>introduction</h4>
  <p><%= @user.introduction %></p>
  
  <%= render 'list', book: @book, books: @books %>
  

<%#一覧画面から同一ページ内で詳細画面に偏移させたいが... %>






  
  
  

  
